body {
    background-color: #282b30;
    font-family: sans-serif;
};

.TitleText {
    color: white;
    font-family: sans-serif;
    
};

@font-face {
    font-family: 'Nexa';
    src: url('Fonts/Nexa-Heavy.ttf') format('ttf')
  }
  
  .categories {
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
  }
  element {
    width: 135px;
  }
  .category {
    position: relative;
    transition: 0.2s;
    cursor: pointer;
  }
  element {
    background-color: rgb(255, 123, 36);
  }
  .label {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin-inline: auto;
    background-color: #ff7b24;
    min-width: 120px;
    line-height: 22.5px;
    border-radius: 6px;
    color: white;
  }
  .main {
    text-align: center;
  }
